.insta{
    padding: 6px;
    position: absolute;
    top: 46px;
    left: 50rem;
    width: 28%;
    height: 20rem;
}

.insta h2{
    margin-bottom: 0px;
    /* left: 75px; */
    text-align: center;
}

.insta .imj{
    position: absolute;
    height: 100%;
    width: 100%;
}

.imj img{
    position: absolute;
    height: 85%;
    width: 97%;
    left: 21px;
    margin-top: 18px;
    padding: 14px;
}